@use "../abstracts" as *;

/* MAIN - Home - Bloque 1 */
.bloque1 {
    display: grid;
    grid-column: 2 / span 10;
    margin: clamp(3.5rem, 2.579rem + 1.316vw, 4rem) 0;
    gap: $grid-recetas-gap-columns;

    h1 {
        @include h1($align: center, $color: $color-marron-oscuro);
    }

    &-container-cards {
        @include flexbox(center, center);
        gap: $grid-recetas-gap-columns;

        .bloque1-card {
            position: relative;
            width: 100%;
            aspect-ratio: 341 / 420;

            img {
                @include img-config($width: 100%, $height: 100%, $object-fit: cover);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 65%, 38% 65%, 38% 35%, 0 35%);
                overflow: hidden;
            }
    
            .bloque1-label {
                @include label-home-style;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 35%;
                height: 26%;
                padding: 0 clamp(0.8rem, 0.063rem + 1.053vw, 1.2rem);
    
                &:hover {
                color: $color-marron-claro;
                background-color: $color-marron-oscuro;
                }
            }
        }
    }
}

/* MAIN - Home - Bloque 2 */
.bloque2 {
    @include grid_12;
    grid-column: 1 / -1;
    margin: 0 0 clamp(3.5rem, 2.579rem + 1.316vw, 4rem) 0;
    gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);

    h2 {
        @include h2($align: center, $color: $color-marron-oscuro);
        grid-column: 1 / -1;
    }

    .subbloque1-container {
        @include grid_2;
        grid-column: 1 / -1;
        align-items: stretch;
        gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);  
        margin-bottom: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);

        img {
            @include img-config($width: 100%, $height: auto, $object-fit: cover);
            aspect-ratio: 630 / 430;
        }

        .subbloque1-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);
    
            .label-texto {
                @include label-home-style;
                width: 31.5%;
                height: 16.7%;
            }
    
            p {
                @include body-texto($align: left, $lh: $body-line-height);
                width: 100%;
                margin: 0;
                background-color: $color-blanco;
            }
    
            .bloque2-btn {
                @include boton-benot;
                align-self: flex-start;
            }
        }
    }

    .subbloque2-container {
        @include grid_2;
        grid-column: 2 / span 10;
        gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);   
        margin-bottom: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);

        .subbloque2-card {
            display: flex;
            flex-direction: column;
            gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);
    
            .top-card-a,
            .top-card-b {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 1fr;
                align-items: stretch;
                position: relative;
    
                img {
                    @include img-config($width: 100%, $height: auto, $object-fit: cover);
                    grid-column: 1 / span 5;
                    aspect-ratio: 522 / 400;
                }
    
                &.top-card-a {
                    img {
                        clip-path: polygon(0 0, 61% 0, 61% 21%, 100% 21%, 100% 100%, 0 100%);
                    }
            
                    .label-img {
                        align-self: start;
                        right: 0;
                    }
                }
    
                &.top-card-b {
                    img {
                        clip-path: polygon(0 0, 100% 0, 100% 79%, 61% 79%, 61% 100%, 0 100%);
                    }
            
                    .label-img {
                        align-self: end;
                        right: 0;
                    }
                }
    
                .label-img {
                    @include label-home-style;
                    position: absolute;
                    width: 37%;
                    height: 18%;
                    z-index: 2;
                }    
            }

            p {
                @include body-texto($align: left, $lh: $body-line-height);
                margin: 0;
            }
    
            .bloque2-btn {
                @include boton-benot;
                align-self: flex-start;
            }
        }
    }

    .subbloque3-container {
        display: grid;
        grid-template-columns: 4fr 3fr 5fr;
        grid-column: 1 / -1;
        gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);
      
        .subbloque3-card-a,
        .subbloque3-card-c {
            @include flexbox(start, center);
            flex-direction: column;
            gap: clamp(0.5rem, 0.039rem + 0.658vw, 0.75rem);
        }
      
        .subbloque3-card-a {
            img {
                @include img-config($width: 100%, $height: auto, $object-fit: cover);
                aspect-ratio: 4 / 3;
            }
        }

        .subbloque3-card-c {
            img {
                @include img-config($width: 100%, $height: auto, $object-fit: cover);
                aspect-ratio: 5 / 3;
            }
        }
      
        .subbloque3-card-b {
            @include flexbox(space-between, center);
            flex-direction: column;
            gap: clamp(0.5rem, 0.039rem + 0.658vw, 0.75rem);

            img {
                @include img-config($width: 100%, $height: auto, $object-fit: cover);
                aspect-ratio: 1 / 1;
            }

            .bloque2-btn {
                @include boton-benot;
                align-self: center;
            }
        }

        .subbloque3-card-a span,
        .subbloque3-card-b span,
        .subbloque3-card-c span{
            @include flexbox(left, center);
            width: 100%;
            height: clamp(2.5rem, 0.658rem + 2.632vw, 3.5rem);
            padding: 0 0 0 clamp(1.75rem, 0.829rem + 1.316vw, 2.25rem);
            border-radius: $border-radius;
            margin: 0;
            @include body-texto(left, 0); 
            background-color: $color-marron-claro;
        }
    }      
}


/* MAIN - Home - Bloque 3 */
.bloque3 {
    display: grid;
    grid-column: 2 / span 10;
    margin: 0 0 clamp(3.5rem, 2.579rem + 1.316vw, 4rem) 0;

    &-container-cards {
        @include flexbox(center, center);
        gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);

        .bloque3-card {
            position: relative;
            width: 100%;
            aspect-ratio: 522 / 420;
            border-radius: $border-radius;
            overflow: hidden;
    
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background: linear-gradient(to top, rgba(67, 28, 25, 1), transparent);
                z-index: 1;
            }

            img {
                @include img-config($width: 100%, $height: 100%, $object-fit: cover);
            }

            .bloque3-container-info {
                position: absolute;
                display: grid;
                grid-template-rows: auto auto;
                bottom: 0;
                width: 100%;
                justify-items: center;
                gap: clamp(1rem, 0.539rem + 0.658vw, 1.25rem);
                padding: 0 clamp(1rem, 0.539rem + 0.658vw, 1.25rem) clamp(1rem, 0.539rem + 0.658vw, 1.25rem) clamp(1rem, 0.539rem + 0.658vw, 1.25rem);
                z-index: 2;

                h2 {
                    @include h2(center, $color-blanco);
                }

                .bloque3-info-bottom {
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    gap: clamp(1rem, 0.539rem + 0.658vw, 1.25rem);
                    padding: 0;

                    .btn-benot {
                        @include boton-benot;
                    }
        
                    p{
                        @include body-texto(left, $body-line-height);
                        margin: 0;
                        color: $color-blanco;
                    }

                    .texto-corto {
                        display: none;
                    }
                }
            }
        }
    }
}


/* MAIN - Home - Bloque 4 */
.bloque4 {
    display: grid;
    grid-column: 1 / -1;
    margin: 0;

    &-wrapper {
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;

        img {
            @include img-config($width: 100%, $height: auto, $object-fit: cover);
            clip-path: polygon(0 0, 100% 0, 100% 93.5%, 50.4% 93.5%, 50.4% 100%, 0 100%);
        }

        .bloque4-container-info {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            gap: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);
            padding: clamp(2rem, 1.079rem + 1.316vw, 2.5rem) clamp(2rem, 1.079rem + 1.316vw, 2.5rem) 0 0;

            h2 {
                @include h2(center, $color-blanco);
                margin: 0;
            }

            p {
                @include body-texto(left, $body-line-height);
                margin: 0;
                color: $color-blanco;
            }
        }

        .bloque4-btn {
            @include boton-benot;
            position: absolute;
            bottom: 0;
            left: 51%;
        }
    }
}


// Mediaqueries Mobile 
@include mq-mobile {
    .bloque1 {
        @include grid_4;
        grid-column: 1 / -1;
        gap: 1rem;
        padding: 0;
        margin-top: 0;
        margin-bottom: 3rem;
        grid-auto-rows: auto;
        align-items: start;
      
        h1 {
          grid-column: 1 / -1;
          margin-bottom: 0;
        }
      
        &-container-cards {
          display: contents;
        }
      
        .bloque1-card {
          display: flex;
          flex-direction: column;
          grid-column: span 2;
          gap: 0.5rem;
      
          img {
            @include img-config($width: 100%, $height: auto, $object-fit: cover);
            display: block;
            aspect-ratio: 1 / 1;
            clip-path: none;
            margin: 0;
          }
      
          .bloque1-label {
            @include label-home-style;
            position: static;
            width: 100%;
            transform: none;
          }
        }
      
        .bloque1-card:nth-child(3) {
          grid-column: 2 / span 2;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
     
    .bloque2 {
        .subbloque1-container {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 1rem;

          
            img {
              @include img-config($width: 100%, $height: auto, $object-fit: cover);
              aspect-ratio: 522 / 400;
              clip-path: polygon(0 21%, 39% 21%, 39% 0%, 100% 0, 100% 100%, 0 100%);
            }
          
            .subbloque1-info { 
                position: relative;

                .label-texto {
                    @include label-home-style;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 37%;
                    height: 18%;
                    margin-top: -17.9rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                }

                p {
                    @include body-texto(left, $body-line-height);
                    color: $color-marron-oscuro;
                    margin: 0;
                }
            
                .bloque2-btn {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
          
        .subbloque2-container {
            display: flex;
            flex-direction: column;
            grid-template-columns: 1fr;
            grid-column: 1 / -1;
            gap: 3rem;
            margin-bottom: 0;
          
            .subbloque2-card {
                width: 100%;
                gap: 1rem;

                .top-card-b.top-card-b {
                    img {
                        clip-path: polygon(0 21%, 39% 21%, 39% 0%, 100% 0, 100% 100%, 0 100%);
                    }
            
                    .label-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: auto;
                        bottom: auto;
                    }
                }
            }

            .bloque2-btn {
                margin: 0 auto;
            }
        }

        .subbloque3-container {
            display: none;
        }
    }

    .bloque3 {
        display: flex;
        grid-column: 1 / -1;
      
        .bloque3-container-cards {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
      
        .bloque3-card {
          position: static;
          border-radius: $border-radius;
          overflow: visible;
      
          &::before {
            display: none !important;
          }
      
          img {
            @include img-config($width: 100%, $height: auto, $object-fit: cover);
        }
      
          .bloque3-container-info {
            position: static;
            display: flex;
            flex-direction: column;
            background-color: $color-blanco;
            padding: 0;
            gap: 0.5rem;
            margin-top: 1rem;
      
            h2 {
              @include h2(center, $color-marron-oscuro);
              margin: 0;
            }
      
            .bloque3-info-bottom {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 1rem;
              
              p {
                @include body-texto(center, $body-line-height);
                color: $color-marron-oscuro;
                text-align: left;
                margin: 0;
              }

              .texto-corto {
                display: none;
              }
      
              .btn-benot {
                @include boton-benot;
                margin: 0;
              }
            }
          }
        }
      }
      
    .bloque4 {
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0;
            border-radius: 0;
        
            img {
                @include img-config($width: 100%, $height: auto, $object-fit: cover);
                clip-path: none;
            }
        
            .bloque4-container-info {
                position: static;
                width: 100%;
                padding: 0;
                gap: 0.5rem;
                text-align: center;
        
                h2 {
                    text-align: center;
                    color: $color-marron-oscuro;
                }

                p {
                    text-align: left;
                    color: $color-marron-oscuro;
                }
            }
      
            .bloque4-btn {
                position: static;
                align-self: center;
                margin: 0;
            }
        }
      }
}


// Mediaqueries Tablet
@include mq-tablet {
    .bloque1{
        grid-column: 2 / span 6;
    }

    .bloque2 {
        @include grid_8;
        grid-column: 1 / -1;

        .subbloque1-container,
        .subbloque2-container,
        .subbloque3-container {
            grid-column: 1 / -1;
        }

        .subbloque2-container {
            @include grid_2;
            grid-column: 2 / span 6;
        }
    }

    .bloque3 {
        grid-column: 1 / span 8;

        &-container-cards{

            .bloque3-card{

                .bloque3-container-info{

                    .bloque3-info-bottom {
                        .texto-corto {
                            display: block;
                        }

                        .texto-largo {
                            display: none;
                        }  
                    } 
                }
            }
        }
    }        
}