@use "../abstracts" as *;

/* MAIN - Cards Recetas cortas */
.dropdown-recetas-cortas {
    @include dropdown-recetas;
    grid-column: 4 / span 1;
    justify-self: end;
    margin-bottom: clamp(3.5rem, 2.579rem + 1.316vw, 4rem);
}

.grilla-recetas-cortas {
    @include grilla-recetas-cortas;
}
  
.card-receta-corta {
    @include card-receta;
  
    &-top-dulce {
        @include card-top-wrapper;
    
        span {
            @include card-top-categoria($color-marron-oscuro, $color-blanco, $color-marron-oscuro);
        }
    
        h6 {
            @include card-top-titulo($color-marron-oscuro, $color-marron-oscuro, $color-blanco);
        }
    }
  
    &-top-salada {
        @include card-top-wrapper;
    
        span {
            @include card-top-categoria($color-marron-medio, $color-marron-oscuro, $color-marron-medio);
        }
    
        h6 {
            @include card-top-titulo($color-marron-medio, $color-marron-oscuro, $color-blanco);
        }
    }
  
    &-bottom {
        position: relative;
        width: 100%;
        overflow: hidden;
        aspect-ratio: 305 / 250;
    
        &-imagen img {
            @include img-config($width: 100%, $height: 100%, $object-fit: cover);
        }
    
        &-puntuacion {
            @include card-puntuacion;
    
            img {
                width: clamp(0.875rem, 0.645rem + 0.329vw, 1rem);
            }
        }
    }
}
  

/* MAIN - Cards Recetas largas */
.dropdown-recetas-largas {
    @include dropdown-recetas;
    grid-column: 3 / span 1;
    justify-self: end;
    margin-bottom: clamp(3.5rem, 2.579rem + 1.316vw, 4rem);
}

.grilla-recetas-largas {
    @include grilla-recetas-largas;
}
  
.card-receta-larga {
    @include card-receta;
  
    &-top-salada {
        @include card-top-wrapper;
  
        span {
            @include card-top-categoria($color-marron-medio, $color-marron-oscuro, $color-marron-medio);
        }
    
        h6 {
            @include card-top-titulo($color-marron-medio, $color-marron-oscuro, $color-blanco);
        }
    }
  
    &-bottom {
        position: relative;
        width: 100%;
        aspect-ratio: 341 / 480;
    
        &-imagen img {
            @include img-config($width: 100%, $height: auto, $object-fit: cover);
            clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 85%, 75% 100%, 0 100%);
        }
    
        &-items {
            @include flexbox(center, center);
            flex-direction: row;
            position: absolute;
            clip-path: polygon(0 37%, 78% 37%, 78% 0, 100% 0, 100% 100%, 0 100%);
            border-radius: $border-radius;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 31%;
            background-color: $color-marron-claro;
            padding-top: clamp(3rem, 0.237rem + 3.947vw, 4.5rem);
            gap: clamp(0.8rem, -3.253rem + 5.789vw, 3rem);
        }
    }
}
  
.icono-favorito {
    position: absolute;
    top: 73%;
    left: 89%;
    transform: translate(-50%);
    width: 12%;
    height: auto;
    z-index: 10;
}
  
.card-info-item {
    @include flexbox(center, center);
    flex-direction: column;
    text-align: center;
    gap: clamp(0.25rem, -0.211rem + 0.658vw, 0.5rem);
  
    img {
        width: auto;
        height: clamp(1.5rem, 0.579rem + 1.316vw, 2rem);
    }
  
    span {
        font-family: $fuente-secundaria;
        font-weight: 400;
        font-size: clamp(0.875rem, 0.645rem + 0.329vw, 1rem);
        text-align: center;
        color: $color-marron-oscuro;
    }
}

// Mediaqueries Mobile / Tablet - Cards Recetas
@include mq-mobile {
    .grilla-recetas-cortas,
    .grilla-recetas-largas {
        grid-column: 1 / span 4;
        @include grid_2;
    }

    .dropdown-recetas-cortas,
    .dropdown-recetas-largas {
        display: none;
    }
}


@include mq-tablet {
    .grilla-recetas-cortas {
        grid-column: 1 / span 8;
        @include grid_3;
    }

    .dropdown-recetas-cortas {
        grid-column: 3 / span 1;
        justify-self: end;
    }
    
    .grilla-recetas-largas {
        grid-column: 2 / span 6;
        @include grid_2;
    }

    .dropdown-recetas-largas {
        grid-column: 2 / span 1;
        justify-self: end;
    }
}

/* MAIN - Receta completa */
.titulo-receta {
    font-family: $fuente-principal;
    font-size: 2.25rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-marron-oscuro;
  }
  
.recetas-botones {
    font-family: $fuente-secundaria;
    font-size: 0.875rem;
    text-align: center;
    color: $color-marron-oscuro;
    background-color: $color-marron-medio;
  
    a {
        text-decoration: none;
        color: $color-marron-oscuro;
    }
}
  
.recetas-caracteristicas {
    font-family: $fuente-secundaria;
    font-size: 1.125rem;
    text-align: center;
    color: $color-marron-oscuro;
    background-color: $color-marron-claro;
}
  
.recetas-productos {
    font-family: $fuente-secundaria;
    font-size: 1rem;
    line-height: 1.5rem;
}
  
.recetas-desarrollo {
    font-family: $fuente-secundaria;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
  
    h4 {
        background-color: $color-marron-claro;
    }
}
  
.lista-ordenada {
    list-style-position: inside;
}
  
.negrita {
        font-weight: bold;
}
  
.tips {
    h4 {
        background-color: $color-blanco;
    }
  
    p {
        background-color: $color-marron-claro;
    }
}
  
.probaste {
    text-align: left;
}