/* MAIN - Dropdown recetas */
.dropdown {
    grid-column: 10 / span 3;
    justify-self: end;
    @include dropdown-recetas;
}


/* MAIN - Recetas cortas */
.grilla-recetas-cortas {
    @include grilla-recetas-cortas;
}

.card-receta-corta {
    @include card-receta;
}

.card-receta-corta-top-dulce,
.card-receta-corta-top-salada {
  @include card-top-wrapper;
}
  
.card-receta-corta-top-dulce span {
    @include card-top-categoria($color-marron-oscuro, $color-blanco, $color-marron-oscuro);
}
  
.card-receta-corta-top-dulce h6 {
    @include card-top-titulo($color-marron-oscuro, $color-marron-oscuro, $color-blanco);
}

.card-receta-corta-top-salada span {
    @include card-top-categoria($color-marron-medio, $color-marron-oscuro, $color-marron-medio);
}
  
.card-receta-corta-top-salada h6 {
    @include card-top-titulo($color-marron-medio, $color-marron-oscuro, $color-blanco);
}

.card-receta-corta-bottom{
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 305 / 250;
}

.card-receta-corta-bottom-imagen img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card-receta-corta-bottom-puntuacion{
    @include card-puntuacion;
}

.card-receta-corta-bottom-puntuacion img{
    width: clamp(0.875rem, 0.645rem + 0.329vw, 1rem);    
}


/* MAIN - Recetas largas */
.grilla-recetas-largas {
    @include grilla-recetas-largas;
}

.grilla-recetas-largas:nth-child(1){
    margin: 0;
}
.grilla-recetas-largas:nth-child(1) .dropdown{
    grid-column: 3 / span 1;
}

.card-receta-larga {
    @include card-receta;
}

.card-receta-larga-top-salada {
  @include card-top-wrapper;
}

.card-receta-larga-top-salada span {
    @include card-top-categoria($color-marron-medio, $color-marron-oscuro, $color-marron-medio);
}
  
.card-receta-larga-top-salada h6 {
    @include card-top-titulo($color-marron-medio, $color-marron-oscuro, $color-blanco);
}

.card-receta-larga-bottom{
    position: relative;
    width: 100%;
    aspect-ratio: 341 / 480;
}

.card-receta-larga-bottom-imagen img{
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 75% 85%, 75% 100%, 0 100%);
    border-radius: $border-radius;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icono-favorito{
    position: absolute;
    top: 73%;
    left: 89%;
    transform: translate(-50%);
    width: 12%;
    height: auto;
    z-index: 10;
}

.card-receta-larga-bottom-items{
    @include flexbox(center, center);
    flex-direction: row;
    position: absolute;
    clip-path: polygon(0 37%, 78% 37%,78% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: $border-radius;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 31%;
    background-color: $color-marron-claro;
    padding-top: clamp(3rem, 0.237rem + 3.947vw, 4.5rem);
    gap: clamp(0.8rem, -3.253rem + 5.789vw, 3rem);
}

.card-info-item {
    @include flexbox(center, center);
    flex-direction: column;
    text-align: center;
    gap: clamp(0.25rem, -0.211rem + 0.658vw, 0.5rem);
}

.card-info-item img{
    width: auto;
    height: clamp(1.5rem, 0.579rem + 1.316vw, 2rem);
}

.card-info-item span{
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: clamp(0.875rem, 0.645rem + 0.329vw, 1rem);
    text-align: center;
    color: $color-marron-oscuro;
}
