@use "../abstracts" as *;

// Fuentes personalizadas
@font-face {
    font-family: 'Belfast';
    src: url("fonts/belfast-regular_6510.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belfast';
    src: url("fonts/belfast-medium_6516.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Belfast';
    src: url("fonts/belfast-bold_6509.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}