@use "variables" as *;

// H1 - H6
@mixin h1($align: left, $color: $color-marron-oscuro) {
    font-family: $fuente-principal;
    font-weight: normal;
    font-size: $h1-size;
    line-height: $h-line-height;
    text-align: $align;
    color: $color;
}

@mixin h2($align: center, $color: $color-marron-oscuro) {
    font-family: $fuente-principal;
    font-weight: normal;
    font-size: $h2-size;
    text-align: $align;
    color: $color;
}

@mixin h3($align: left) {
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: $h3-size;
    text-align: $align;
}

@mixin h4($align: center) {
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: $h4-size;
    text-align: $align;
  }

@mixin h5($align: center) {
    font-family: $fuente-principal;
    font-weight: normal;
    font-size: $h5-size;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: $align;
}

@mixin h6($align: center, $color: $color-marron-oscuro) {
    font-family: $fuente-principal;
    font-weight: normal;
    font-size: $h6-size;
    line-height: $h-line-height;
    text-align: $align;
    color: $color;
}


// Textos del body
@mixin body-texto($align: left, $lh: $body-line-height) {
    font-family: $fuente-secundaria;
    font-weight: 400;
    font-size: $body-font-size;
    line-height: $lh;
    text-align: $align;
    color: $color-marron-oscuro;
  }