// Paleta de colores
$color-marron-oscuro:#431C19;
$color-marron-medio:#ECCFBC;
$color-marron-claro:#F6E9DE;

$color-verde-oscuro:#427A2B;
$color-verde-medio:#74B735;
$color-verde-claro:#E5F4D3;

$color-blanco:#FFF;
$color-gris-oscuro:#999;
$color-gris-claro:#AAA;


// Tipografías
$fuente-principal: 'Belfast', serif;
$fuente-secundaria: 'Lato', sans-serif;

$h1-size: clamp(1.6rem, 0.863rem + 1.053vw, 2rem);
$h2-size: clamp(1.5rem, 0.763rem + 1.053vw, 1.9rem);
$h3-size: 1.5rem;
$h4-size: clamp(1.15rem, 0.782rem + 0.526vw, 1.35rem);
$h5-size: 2.25rem;
$h6-size: clamp(1rem, 0.632rem + 0.526vw, 1.2rem);
$h-line-height: 1.3em;

$body-font-size: clamp(0.875rem, 0.414rem + 0.658vw, 1.125rem);
$body-line-height: 1.5em;


// Bordes
$border-solido-marron: 1px solid $color-marron-oscuro;
$border-solido-marron-medio: 1px solid $color-marron-medio;


// Tamaños 
$border-radius: clamp(0.75rem, 0.289rem + 0.658vw, 1rem);


// Recetas
$grid-recetas-gap-rows: clamp(3.5rem, 2.579rem + 1.316vw, 4rem);
$grid-recetas-gap-columns: clamp(1.125rem, 0.664rem + 0.658vw, 1.375rem);
$grid-recetas-margin-top: clamp(1.8rem, 1.063rem + 1.053vw, 2.2rem);
$grid-recetas-margin-bottom: clamp(3.5rem, 2.579rem + 1.316vw, 4rem);
$grid-recetas-card: clamp(0.5rem, 0.039rem + 0.658vw, 0.75rem);

// Iconos
$puntuacion-size: clamp(3.5rem, -4.789rem + 11.842vw, 8rem);